<!DOCTYPE html>
<html lang="en"> <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>AIOT DEMO</title>
</head>
<body>

<form>
    <h1 id="h1">enter password here
        <input type="password" id="input">
    </h1>
</form>
<div id="button">
    <button onclick=submit()>submit</button>
</div>
<div id="pass"></div>

<div id="video-feed">
</div>
<div id="doorbell-button">
  <button onclick="ringDoorbell()">Ring Doorbell</button>
</div>
<div id="action-button">
    <button onclick="performAction()">Perform Action</button>
    <button onclick="openNewTab()">Enroll Tab</button>
</div>

<script>
    const submit = () => {
        const h1 = document.querySelector('#h1')
        const button = document.querySelector('#button')
        const matkhau = document.querySelector('#input')
        const value = matkhau. value
        const defautPassword = "ptit"

        if (value === defautPassword){
            h1.innerHTML = ''
            button.innerHTML = ''
            document.querySelector('#pass').innerHTML = '<img id="stream" src="{{ url_for('video_feed') }}" width="640" height="480">'

            // create new button
            const videoFeed = document.querySelector('#video-feed')
            const newButton = document.createElement('button')
            newButton.textContent = 'New Button'
            newButton.onclick = () => {
                alert('You clicked the new button!')
            }
            videoFeed.appendChild(newButton)
        } else {
            alert('Incorrect password')
        }
    }

    const performAction = () => {
        // code to perform action goes here
        alert('Action performed!')
    }

    const ringDoorbell = () => {
  const doorbellSound = new Audio('static/doorbell.mp3');
  doorbellSound.play();
}
</script>
<script>
function openNewTab() {
  // Reload the current tab
  location.reload();
  // Get the root URL (http://127.0.0.1:5000/)
  var rootURL = window.location.protocol + "//" + window.location.host + "/";
  // Return to http://127.0.0.1:5000/static/index2.html
  window.location.href = rootURL + "static/index2.html";
}
</script>

</body> </html>